@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  blockquote {
    @apply mb-5;
  }
}

html,
body {
  min-height: 100%;
}

@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Lobster-Regular.ttf");
}

@font-face {
  font-family: "TrainOne";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/TrainOne-Regular.ttf");
}
